#upRefreshButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100; /* Make sure it appears above other elements */
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Ensure equal width and height */
    padding: 0; /* Remove padding to keep the shape circular */
    background-color: #007BFF; /* Button color */
    color: white;
    border: none;
    border-radius: 50%; /* Make it circular */
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#upRefreshButton:hover {
    background-color: #0056b3; /* Darker color on hover */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #004d40; /* Dark teal text color */
}

header {
    background-color: rgb(10, 100, 163);
    color: #ffffff; /* White text */
    padding: 10px;
    text-align: center;
}

header a {
    color: #ffffff; /* Amber */
    text-decoration: none;
}

header a:hover {
    text-decoration: none;    
    font-weight: bold; /* Bold text on hover */
    color: rgb(199, 199, 199); /* Change text color on hover */
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.card {
    position: relative;
    color: #ffffff; 
    padding: 10px;
    border-radius: 10px;
    text-align: center;    
    overflow: hidden;
    cursor: pointer;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1; /* Ensure cards are visible */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    background-size: cover; /* Ensure the image covers the entire card */
    background-position: center; /* Center the image in the card */
    background-repeat: no-repeat; /* Avoid repeating the image */
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    transition: opacity 0.3s ease;
    z-index: 1; 
}

.card:hover .card-overlay {
    opacity: 0;
    transform: scale(1.05); 
}

.card h2 {
    z-index: 2;
    position: relative;
    color: #ffffff; /* Dark teal text */
    justify-content: center;
    align-items: center;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-column: span 2;
}

@media (max-width: 768px) {
    .card-group {
        grid-template-columns: 1fr; /* 1 card per row */
    }
}

.card-group2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-column: span 2;
}

@media (max-width: 768px) {
    .card-group2 {
        grid-template-columns: 1fr; /* 1 card per row */
    }
}

.card[data-detail="career"] {
    background-image: url('pic/career.png');
}
.card[data-detail="education"] {
    background-image: url('pic/education.jpg');
}
.card[data-detail="education_b"] {
    background-image: url('pic/graduation2.jpg');
}
.card[data-detail="thesis"] {
    background-image: url('pic/thesis1.jpg');
}
.card[data-detail="courses"] {
    background-image: url('pic/courses.jpg');
}
.card[data-detail="projects"] {
    background-image: url('pic/projects.jpg');
}
.card[data-detail="experience"] {
    background-image: url('pic/experience.webp');
}
.card[data-detail="volunteer"] {
    background-image: url('pic/volunteer1.jpg');
}

/* Loading Bar Container */
#loading-bar-container {
    width: 100%;
    height: 4px;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    display: none; /* Initially hidden */
}

/* Loading Bar */
#loading-bar {
    height: 100%;
    width: 0;
    background-color: #3498db;
    transition: width 0.4s ease-in-out;
}

#detail-section {
    background-color: #ffffff; /* White background */
    border: 1px solid #b2dfdb; /* Light teal border */
    border-radius: 6px;
    padding: 20px;
    margin: 20px;
    font-size: 1.2em;
    color: #004d40; /* Dark teal text */
}

/* Remove or comment out keyframes and animation rules */
@keyframes moveLeftThenBack {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-7px);
    }
    100% {
        transform: translateX(0);
    }
}

.card.animate-left {
    animation: moveLeftThenBack 0.5s ease; /* Duration and timing function */
}

/* Info Banner */
.info-banner {
    display: block;
    background-color: #373434;
    color: #ffffff;
    padding: 5px;
    border: 2px solid #888;
    border-radius: 1%;
    margin: 2px auto;
    width: 60%; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.info-banner h1 {
    margin: 0;
}

.info-banner p {
    margin: 5px 0;
}

.close-banner {
    position: relative;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #d1d1d5;
    cursor: pointer;
}

.close-banner:hover {
    color: rgb(255, 0, 0);
}
